:root {
    --primary-button-color: #6C63FE;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
 body {
    margin:100px 0;
    padding: 0;
 }

 .header {
    text-align: center; ;
 }
 h1,h2 {
    font-size: 50px;
 }

h3 {
    font-size: 20px;
}

.primary-link {
    background: var(--primary-button-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    box-shadow: var(--box-shadow);
}

.secondary-link {
    background: white;
    color: var(--primary-button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid var(--primary-button-color);
    font-size: 15px;
}

.navigation-links {
    display: flex; 
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
     margin: 20px;
}

