:root {
    --primary-button-color: #6C63FE;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --secondary-color: #f9f7fe;
}
 body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
 }

 .header {
    text-align: center; 
    background: var(--secondary-color);
    padding: 30px 0;
 }
 h1,h2 {
    font-size: 50px;
 }

h3 {
    font-size: 20px;
}

h4 {
    font-size: 26px;
}


.primary-link {
    background: var(--primary-button-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    box-shadow: var(--box-shadow);
}

nav {
    padding: 20px 0;
}
nav ul {
    padding:0;
    margin:0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 15px;
}
.logo {
    max-height: 40px;
}
nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a {
    color: var(--primary-button-color);
}

.secondary-link {
    background: white;
    color: var(--primary-button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid var(--primary-button-color);
    font-size: 15px;
}

.navbar-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    margin: 60px 0;
}
footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

.btn-branding {
    background: var(--primary-button-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-button-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}